html{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-size: calc(15px + 1vh);
}
*, *::before, *::after {
	box-sizing: inherit;
}
.content {
	width: 100vw;
	display: block;
	padding: 10px;
	position: relative;
}
.top-bar {
	width: 100%;
	height: 8vh;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #fff;
	border-bottom: 3px solid #fa5;
	z-index: 1;
}
.modal-backdrop {
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #777;
	opacity: 0.5;
}
.modal {
	display: none;
	background-color: #fff;
	border: 1px solid #555;
	border-radius: 10px;
	z-index: 5;
	position: absolute;
	left: 50%;
	top: 40vh;
	padding: 10px;
	max-width: max(400px, 30%);
	transform: translate(-50%, -50%);
}
body.modal-open {
	height: 100vh;
	overflow-y: hidden;
	position: fixed;
}
body.modal-open .modal, body.modal-open .modal-backdrop {
	display: block;
}
.close-btn {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
.close-btn:hover, .close:focus {
	color: #000;
}
.button {
	margin: 1vh;
	display: inline-block;
	height: 6vh;
	cursor: pointer;
	border-radius: 5px;
}
.button img{
	height: 100%;
}
.button:hover, .button:focus {
	border: 1px solid #aaa;
}
.nav {
	position: relative;
	width: 100%;
}
.nav ul {
	display: block;
	width: 100%;
	padding: 10px;
}
.nav li {
	display: inline-block;
	width: 100%;
	padding: 5px;
	text-align: center;
}
.nav a {
	text-decoration: none;
	color: #555;
	font-weight: bold;
	font-variant: small-caps;
}
.nav li:hover a {
	color: #fa5;
}
li.active a {
	color: #fa5;
	text-shadow: 1px 1px 1px #555;
	font-size: 1.2rem;
}
h2 {
	color: #37a;
	width: 100%;
}
h3 {
	color: #2af;
}
